body {
    font-family: 'Open Sans', sans-serif;
    color: darkblue;
    margin: 10px 50px 10px 50px;
    background-color: Ivory;
}

#navbar ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
}

#navbar li {
    display: block;
}

#navbar a {
    margin-left: 0px;
    margin-right: 0px;
}

h1, h2{
    font-family: 'Oswald', sans-serif;
}

img {
    float: left;
    margin-right: 10px
}

.left {
    float:left;
    width: 300px;
    margin-right: 10px;
}

.right {
    float: right;
    width: 300px;
    padding: 1em;
}

.center {
    margin-left: 300px;
    margin-right: 300px;
    padding: 1em;
}
